@import 'navbar.css';
@import 'slider.css';
@import 'gallery.css';
@import 'dropdown.css';

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.white {
	color: white;
	border-color: white;
}
.whiteBg {
	background-color: white;
}
